#Q1)

In [6]:
import re
sample_text='Python Exercises, PHP exercises.'
needed=sample_text.replace(' ', ':').replace(',', ':').replace('.', ':')

print(needed)

Python:Exercises::PHP:exercises:

In [ ]:
#Q2)

In [7]:
import pandas as pd
dictionary= {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(dictionary)
df= df['SUMMARY'].str.replace('[^a-zA-Z\s]|[X]', '', regex=True)

print(df)

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [ ]:
#Q3)

In [186]:
import re
#Q3)
string=r"\b\w{4}\b"
print(type(string))
str1= "hello world!' 'XXXXX test' '123four five six..."
regex_pattern=re.compile(string)
result=regex_pattern.findall(str1)
print(result)

<class 'str'>
['test', 'five']

In [184]:
#Q#4)

target=(r"\b\w{3,4,5}\b")

str1= "hello world!' 'XXXXX test'121 222  '123four five six..."
regex_pattern=re.compile(r"\b\w{3,4,5}\b")
result=regex_pattern.findall(str1)
print(result)

[]

In [187]:
pattern = re.compile(r'\b\w{3,5}\b')
string = "once upon a time there was a king his name is Akbar."
matches = pattern.findall(string)
result = find_words(string)
print(result)

NameError: name 'find_words' is not defined

In [192]:
string=(r'\b\w{3,5}\b')
print(type(string))
str1= "hello world!' 'XXXXXX test' '123four five six..."
regex_pattern=re.compile(string)
result=regex_pattern.findall(str1)
print(result)

<class 'str'>
['hello', 'world', 'test', 'five', 'six']

In [198]:
def remove_parenthesis(text):
    for item in text:
        re_parenthesis=re.compile(r" ?\(| ?\)")
        print(re_parenthesis.sub("", item)
              item= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello ( Data Science Wremove_parenthesis(items)"

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2502498926.py, line 4)

In [ ]:
#Q5)

In [52]:
string=re.subn(r"\b\W+\b","",str1)
print(type(string))
str1= "hello world!' 'XXXXXX test' '123four five six..."
regex_pattern=re.compile(string)
result=regex_pattern.subn(str1)
print(result)

<class 'tuple'>

TypeError: first argument must be string or compiled pattern

In [46]:
def remove_parentheses(strings):
  pattern = re.compile(r"\(\)")
  modified_strings = []
  for string in strings:
  modified_string = re.sub(pattern, "", string)
  modified_strings.append(modified_string)
  return modified_strings


sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)
print(result)

IndentationError: expected an indented block after 'for' statement on line 4 (3536399958.py, line 5)

In [81]:
y= (r"(.com Data Science World)")                  # must check the upper and lower case bc it is sensetive about it
text_="[example (.com)" "hr@fliprobo (.com)" "github (.com)" "Hello (Data Science World)" "Data (Scientist)]"
match=re.sub(y,"",text_)
print(match)

[example (.com)hr@fliprobo (.com)github (.com)Hello (Data Science World)Data (Scientist)]

In [88]:
replacement_inside=re.subn(r'[\b(.com)\b]','','example (.com)" "hr@fliprobo (.com)" "github (.com)" "Hello (Data Science World)" "Data (Scientist)')    # replacement occure for a single time for combine
print(replacement_inside)

('exaple " "hr@fliprb " "github " "Hell Data Siene Wrld" "Data Sientist', 30)

In [ ]:
Sample_text: “ImportanceOfRegularExpressionsInPython”

In [105]:
sample="“ImportanceOfRegularExpressionsInPython”"
match=r'(?<=[a-z])(?=[A-Z])'
required= re.split(match, sample)
print(required)

['“Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python”']

In [101]:
import re

# Sample text
text = "ImportanceOfRegularExpressionsInPython"

# Regular expression to match uppercase letters
pattern = r'(?<=[a-z])(?=[A-Z])'

# Split the text at each uppercase letter
split_text = re.split(pattern, text)

print(split_text)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
text="This is python language."
match=re.split("\s",text)
print(match)

In [6]:
#Q8) import 
import re

In [13]:
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern= r'(?<=[a-zA-Z])(?=\d)'
required_text= re.sub(pattern, ' ', sample_text)
print(required_text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [10]:
#Q9)

In [45]:
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern= r'(?<=[0-9])(?=[a-zA-Z0-9])'
required_text= re.sub(pattern,' ',sample_text)
print(required_text)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [63]:
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern= r'(?<=[a-zA-Z])(?=\b\d\b)'
required_text= re.sub(pattern, ' ', sample_text)
print(required_text)

RegularExpression1IsAn2ImportantTopic3InPython

In [ ]:
#Q10)

In [51]:
import pandas as pd 
import regex as re
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [52]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [82]:
df["Country"].str[:6]

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: Country, Length: 158, dtype: object

In [78]:
unique_ts

Country
United    3
Maurit    2
Cyprus    2
Switze    1
Mongol    1
         ..
Slovak    1
Uzbeki    1
Guatem    1
Salvad    1
Burund    1
Name: count, Length: 121, dtype: int64

In [ ]:
#Q10)

In [89]:
TS1="Ap12ik@j Abdul12_*l kalam was an indian aerospace scientist also known as the missile12345 man india"
pattern= ('[a-zA-Z0-9_]+')
result= re.findall(pattern,TS1)
print(result)

['Ap12ik', 'j', 'Abdul12_', 'l', 'kalam', 'was', 'an', 'indian', 'aerospace', 'scientist', 'also', 'known', 'as', 'the', 'missile12345', 'man', 'india']

In [ ]:
#Q12)

In [130]:
TS1="Ap12ik@j Abdul12_*l kalam 112 was an indian 11aerospace scientist also known as the missile12345 man india"
pattern= ('\A\d')
result= re.findall(pattern,TS1)
print(result)

[]

In [ ]:
#Q13

In [133]:
text="000192.168.1.1"
pattern=r'\b0+(\d+)'
expected= re.sub(pattern, r'\1', text)
print(expected)

192.168.1.1

In [ ]:
#Q14)

In [143]:
import re

sample= "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r'\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b'

required= re.findall(pattern,sample)
print(required)

['August 15th 1947']

In [ ]:
#Q15

In [171]:
import re
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->

In [169]:
import re
patterns = '['fox', 'dog', 'horse' ]'
ts= 'The quick brown fox jumps over the lazy dog.'
pattern=re.search(patterns,i)
for i in ts:
    print(pattern)

SyntaxError: invalid syntax (565652092.py, line 2)

In [ ]:
#Q16

In [172]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [177]:
text='The quick brown fox jumps over the lazy dog.'
match_object=re.search('fox',text)
print(match_object)

<re.Match object; span=(16, 19), match='fox'>

In [203]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print( match)

exercises
exercises
exercises

In [209]:
text = 'Python exercises, PHP exercises, C# exercises'
result =re.finditer("exercises",text)
for match_object in result:
    print(match_object)
    print(match_object.group())

<re.Match object; span=(7, 16), match='exercises'>
exercises
<re.Match object; span=(22, 31), match='exercises'>
exercises
<re.Match object; span=(36, 45), match='exercises'>
exercises

In [210]:
def find_substrings(sample_text, pattern):
    """
    Finds occurrences of a substring within a given text using the find() method.
    Args:
        sample_text (str): The input sample text.
        pattern (str): The substring to search for.

    Returns:
        list: List of indices where the substring occurs.
    """
    indices = []
    start_index = sample_text.find(pattern)
    while start_index != -1:
        indices.append(start_index)
        start_index = sample_text.find(pattern, start_index + 1)
    return indices

# Example usage
sample_text = 'Python exercises, PHP exercises, C# exercises'
substring_to_find = 'exercises'
result_indices = find_substrings(sample_text, substring_to_find)
print(f"Indices of '{substring_to_find}': {result_indices}")

Indices of 'exercises': [7, 22, 36]

In [ ]:
#17)

In [211]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45